/* segéd class a float elemek clear-ezéséhez */
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

/* header dolgai */
body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 132px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  z-index: 1;
}

.header .logo {
  float: left;
}

.header .navigation {
  float: right;
}

/* tartalmi elemek */
.content .post {
  float: left;
  width: 65%;
}

.content .sidebar {
  float: right;
  width: 35%;
}

.meta {
  margin: 0 auto;
  width: 200px;
}
.meta span {
  border: 1px solid black;
}

#main-lead {
  color: green;
  padding: 10px;
  padding: 5px 10px;
  padding: 10px 5px 20px;
  padding-left: 10px;
}

blockquote::before {
  content: 'dhjkdhfjk'
}

blockquote p {
  display: inline;
}

.post-content {
  position: relative;
}

.post-content img {
  max-width: 100%;
  height: auto;
}

.float-parent img {
  float: left;
  margin-right: 20px;
}

.box {
  width: 300px;
  height: 200px;
  border: 1px solid #000;
}

.box.box--relative {
  position: relative;
}

.box.box--fixed {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: #fff;
}

.box.box--absolute {
  position: absolute;
  left: 50px;
  bottom: 50px;
  background-color: #fff;
}

.float-parent {
  position: relative;
}

.gallery .image-01 {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.gallery .image-02 {
  float: left;
  width: 48%;
}

.flexbox,
.flexbox2 {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* */
.flexbox {
  background: #f5f5f5;
  display: flex;
}

.flexbox2 {
  background: #fafafa;
}

.flexbox-item {
  min-width: 100px;
  height: 100px;
}

.flexbox-item2 {

}

.flexbox .green {
  background: green;
}

.flexbox .yellow {
  background: yellow;
  height: 250px;
}

.flexbox .red {
  background: red;
}

.flexbox .blue {
  background: blue;
  height: 150px;
}

.related {
  margin: 40px 0;
}

.related div {

}

.related img {
  max-width: 100%;
}

.badge-container {
  position: relative;
  width: 300px;
}

.badge-text {
  position: absolute;
}

.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner {
  width: 1000px;
  margin: 0 auto;
}

.navigation ul {
  display: flex;
  list-style: none;
}

.header-search {
  width: 300px;
}

.header-search-input {
  width: 100%;
}

@media (min-width: 600px) and (max-width: 700px) {
  body {
    background: green;
  }
}

@media (min-width: 1000px) {
  .logo {

  }
}

.container img {
  max-width: 100%;
}


.related-image1 {
  margin-bottom: 20px;
}
